<form [formGroup]="form" (ngSubmit)="enviar()">
  <label>
    <span>Título de la tarea</span>
    <input type="text" formControlName="title" placeholder="¿Qué hay que hacer?">
  </label>

  <label>
    <span>Notas adicionales</span>
    <textarea formControlName="description" rows="3" placeholder="Detalles opcionales..."></textarea>
  </label>

  <div class="check">
    <input type="checkbox" id="completada" formControlName="completada">
    <label for="completada" style="display: inline; cursor: pointer;">Marcar como completada</label>
  </div>

  <button type="submit" [disabled]="form.invalid">
    Crear Tarea
  </button>
  
  <button type="button" class="btn-cancel" (click)="cancel()">
    Cancelar
  </button>
</form>